{% extends 'base.html' %}

{% block title %}
О нас
{% endblock %}

{% block content %}
<div class="container my-3">
    <div class="row mt-3">
        <div class="col-md-9">
<ul class="list-group">
            <li class="list-group-item border-0 py-1"><h2>Обратная связь</h2>
            </li><li class="list-group-item border-0 py-1"><strong>Наш адрес:</strong><br>
            </li><li class="list-group-item border-0 py-1">----<br>
            </li><li class="list-group-item border-0 py-1">----<br>
            </li><li class="list-group-item border-0 py-1">----<br>
            </li><li class="list-group-item border-0 py-1"><strong>Нужна консультация?</strong><br>
            </li><li class="list-group-item border-0 py-1">----<br>
            </li><li class="list-group-item border-0 py-1"><a href="mailto:#">----</a>
            </li><li class="list-group-item border-0 py-1"><a href="mailto:#">----</a>
        </li></ul>
        </div>
        <div class="col-md-3">
            <ul class="list-group">
              <li class="list-group-item border-0 py-1"><h2>Обратная связь</h2>
                </li><li class="list-group-item border-0 py-1"><strong>Наш адрес:</strong><br>
                </li><li class="list-group-item border-0 py-1">----<br>
                </li><li class="list-group-item border-0 py-1">----<br>
                </li><li class="list-group-item border-0 py-1">----<br>
                </li><li class="list-group-item border-0 py-1"><strong>Нужна консультация?</strong><br>
                </li><li class="list-group-item border-0 py-1">----<br>
                </li><li class="list-group-item border-0 py-1"><a href="mailto:#">----</a>
                </li><li class="list-group-item border-0 py-1"><a href="mailto:#">----</a>
              </li></ul>
        </div>
    </div>
    </div>


</body></html>
{% endblock %}